body{
    background-image: url(abm.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box img {
  width: 50px;
}

.logo-box span {
  font-size: 22px;
  font-weight: bold;
}


.logo span {
  color: #f4b400;
}

a{
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #ffffff4d;
    border-radius: 10px;
    border-color: white;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
    background: transparent;
    margin-left: 2px;
}
.content{
    margin-top: 150px;
    width: 100%;
    text-align: center;
    color: white;
}
a:hover{
    text-decoration: none;
    background-color:aqua;
    color:black;
    font-weight: bold;
    transition: 0.5s;

}

